@font-face { /*Import a font from a file.*/
    font-family: Jost; /*Refer to the font as Jost*/
    src: url(/src/styles/fonts/Jost.ttf); /*Get the font from here*/
}

html, body{
    background-color: rgb(255, 255, 255); /*Sets the background color of the website*/
    font-family: Jost, sans-serif; /*Sets the whole site so use the font Jost, if it can't find it, it'll use a sans-serif font proivded by the browser instead*/
    color: rgb(0, 0, 0); /*Set the text color of the website to black*/
}

h1{
    text-align: center; /*Use center aligned text*/
    font-weight: 600; /*Make the text bold*/
}

h4{
    font-weight: 600; /*Make the text bold*/
}

body{
    display: flex; /*Set the body element as a flexable container*/
    align-items: center; /*Align the items towards the center*/
    justify-content: center; /*Justify the content towards the center, as in, horizontal centering*/
    flex-direction: column; /*Display the items in a column*/

}

main{
    width: 50vw; /*Set the width of the main element to 80 percent of the screens width*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

a{
    color: black;
    background-color: rgb(218, 218, 218);
    border-radius: 8px; /*Makes the buttons round*/
    text-align: center; /*Aligns text to the ceneter. Avoid center aligned text for paragraphs. They're mainly used for buttons*/
    padding: 8px; /*Add 8 pixels of padding between the corners of the element and the content of it to make it feel less cramped*/
    margin: 4px; /*Adds 4 pixels of margin, as in, blank space around the element to space other items apart*/
    text-decoration: none; /*Removes the underline from the link now that they look like buttons*/
}

a:hover{
    background-color: rgb(178, 178, 178); /*When someone hovers over the link, make the background color darker*/
}

@media only screen and (max-width: 600px) { /*When the users screen is smaller than 600px (as in, for phones), make the width of the main element 80% of the sceeens width*/
    main {
      width: 80vw;
    }
  }